<a href="https://colab.research.google.com/github/Lokesh-121/python-/blob/main/Python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON - BASIC FOR AI

>> print

In [ ]:
print ("Hello world!") #print case sensitive
print ('Hello world!') #things within '' and "" will be considered as str

Hello world!
Hello world!

print simple message

In [ ]:
print ('Here we will cover some basic of python for AI!')

Here we will cover some basic of python for AI!

print multiple lines of messsage

In [ ]:
print ('Welcome you all\nhope you will get\nsome knowledge here!') #\n cut down lines

Welcome you all
hope you will get
some knowledge here!

get input from the user and print it

In [ ]:
a = int(input("Enter your int data:")) #int() converts the string input to an integer, and the result is assigned to the variable
b = input('Enter your str data:') #get input as str
print (a)
print (b)

Enter your int data:1
Enter your str data:hi
1
hi

>> Data Types

In [ ]:
a = 0 #assigns the value 0 to a variable called "a"
print (a)
print (type(a)) #the type() function is used to determine the data type of a variable

0
<class 'int'>

In [ ]:
a = 1.0
print(a)
print(type(a))

1.0
<class 'float'>

In [ ]:
a = 'hii dude'
print(a)
print(type(a))

hii dude
<class 'str'>

In [ ]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

get input from the your and check the data type

In [ ]:
a = int(input("Enter your data:"))
print(type(a))

Enter your data:1
<class 'int'>

convert one form od data to other form

In [ ]:
a = int(input("Enter your data:"))
print(float(a))

Enter your data:1
1.0

In [ ]:
a = int(input("Enter your data:"))
b = input("Enter your data:")
c = input("Enter your data:")
print(a,b,c)

Enter your data:1
Enter your data:1.0
Enter your data:hii
1 1.0 hii

>> Math operators

In [ ]:
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

3
-1
2
0.5
0
1
1

>>Condition

In [ ]:
a = int(input("Enter your data:"))

if(a>0):
  print(a, 'is greater than zero')
elif(a==0):
  print(a, 'is equal to zero')
else:
  print(a,'is less than zero')

Enter your data:1
1 is greater than zero

even or odd

In [ ]:
a = int(input("Enter your data:"))

if(a%2==0):
  print(a, 'is even')
else:
  print(a,'is odd')

Enter your data:1
1 is odd

find out the greatest number

In [ ]:
a = int(input("Enter your data:"))
b = int(input("Enter your data:"))

if(a>b):
  print(a, 'is greater than', b)
else:
  print(b,'is greater than', a)

Enter your data:1
Enter your data:2
2 is greater than 1

grading system

In [ ]:
a = int(input("Enter your data:"))

if(a>90):
  print('Achieved A+')
elif(a>75):
  print('Achieved A')
elif(a>50):
  print('Achieved B+')
elif(a>=35):
  print('Achieved B')
else:
  print('Failed')

Enter your data:35
Achieved B

findout positive or negative number

In [ ]:
a = int(input("Enter your data:"))

if(a%2==0):
  print(a, 'Positive number')
elif(a==0):
  print(a,'=0')
else:
  print(a,'Negative number')

Enter your data:-1
-1 Negative number

largest of 3 numbers

In [ ]:
a = int(input("Enter your data:"))
b = int(input("Enter your data:"))
c = int(input("Enter your data:"))

if(a>b and a>c):
  print(a, 'is the largest number')
elif(b>a and b>c):
  print(b,'is the largest number')
else:
  print(c,'is the largest number')

Enter your data:1
Enter your data:2
Enter your data:3
3 is largest number

Leap year

In [ ]:
a = int(input("Enter your data:"))

if(a%4==0):
  print(a, 'is Leap year')
else:
  print(a,'is non leap year')

Enter your data:2016
2016 is Leap year

vowels or consonent

In [ ]:
a = input("Enter your data:")
vowels = 'aeiouAEIOU'

if(a in vowels):
  print(a, 'is vowel')
else:
  print(a,'is consonent')

Enter your data:A
A is vowel

Simple calsulator

In [ ]:
a = int(input("Enter your data:"))
b = int(input("Enter your data:"))
c = int(input("Enter your operation 1.SUM 2.DIFF 3.MUL 4.DIV:"))


if(c==1):
  print('sum is', a+b)
elif(c==2):
  print('Dif is', a-b)
elif(c==3):
  print('Mul is',a*b)
elif(c==4):
  print('Div is',a//b)
else:
  print('Invalid operation')

Enter your data:10
Enter your data:20
Enter your operation 1.SUM 2.DIFF 3.MUL 4.DIV:4
Div is 0

>>Loop

for

In [ ]:
a=5

for i in range(a):
  print(i)
print("\n")

for i in range(a):
  print(i, end='')
print("\n")

for i in range(1,a):
  print(i, end='')
print("\n")

for i in range(1,a+1):
  print(i, end='')
print("\n")

for i in range(1,a+1,2):
  print(i, end='')
print("\n")

for i in range(a+1,1,-2):
  print(i, end='')
print("\n")

0
1
2
3
4


01234

1234

12345

135

642

prime number

In [ ]:
a=int(input("Enter your data:"))

if (a<2):
  print(a, "is not a PRIME number")
elif(a%2==0):
  print(a, "is not a PRIME number")
else:
  print(a, "is a PRIME number")

Enter your data:11
11 is a PRIME number

In [ ]:
for n in range(2,101):
  for d in range(2,n):
    if (n%d==0):
      break
  else:
     print( n," ", end='')

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

 factorial of a number

In [ ]:
a = int(input("Enter your number:"))
f=1

for i in range (1,a+1):
  f*=i
print("Factorial of",a, "is", f)

Enter your number:5
Factorial of 5 is 120

Tables

In [ ]:
a=int(input("Enter the data:"))
for i in range(1,11):
  print(i,"*",a,"=",i*a)

Enter the data:10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

In [ ]:
a=0
b=1
c=int(input("Enter your data:"))

for i in range(1,c+1):
  print( a,' ',end='')
  a,b=b,a+b

Enter your data:5
0  1  1  2  3

In [ ]:
for i in range(1,51):
  if (i%2==0):
    print(i, "", end="")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

 >> string

In [ ]:
 print("hi")

hi

In [ ]:
a='this is'
b='ghost'
print(a,b)
print(a+b)
print(len(a))
print(len(b))
print()

this is ghost
this isghost
7
5

slicing

In [ ]:
a="MATHEMATICS"
print(a[ : : ])
print(a[:6])
print(a[3:])
print(a[-1: ])
print(a[ :-3])
print(a[2:6])
print(a[-3:-5])

MATHEMATICS
MATHEM
HEMATICS
S
MATHEMAT
THEM

In [ ]:
a=input("Enter the data:")
b=len(a)
for i in range(b):
  c=int(a[i])
  d=c***
#for j in range(b):





 #   e
print(d)

Enter the data:153
27

>>slicing

In [ ]:
a="  Hello world  "
b="lokesh"

print(len(a)) #just count, does not return
print(a+b)
print(a,b)
print('@'.join(a)) #add @ in between each alphabet
print(a.upper()) #it will return value
print(a.lower())
print(a.strip()) # remove excessive space
print(a.replace('world','there'))

In [ ]:
a=input("Enter your data:")
b=int(input("Enter your data:"))

print(f"\nFirst {b} characters:{a[ :b]}")

Enter your data:mathematics
Enter your data:5

First 5 characters:mathe

>> List

In [ ]:
a= [1,1.2,"Apple",True]

print(a)
print(a[2])

[1, 1.2, 'Apple', True]